@model QuanLyThuVien.Models.TheLoai
@{
    ViewData["Title"] = "Thêm Thể loại";
}

<h3>Thêm Thể loại mới</h3>

<form asp-action="Create" method="post" class="col-md-6">
    <div asp-validation-summary="ModelOnly" class="text-danger mb-3"></div>

    <div class="mb-3">
        <label asp-for="TenTheLoai" class="form-label"></label>
        <input asp-for="TenTheLoai" class="form-control" autofocus />
        <span asp-validation-for="TenTheLoai" class="text-danger"></span>
    </div>

    <button type="submit" class="btn btn-primary">Lưu</button>
    <a asp-action="Index" class="btn btn-secondary">Hủy</a>
</form>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
